
div.cajabeige{
    position: relative;
    background-color: beige;
    width: 600px;
    height: 400px;
    margin: 5em auto;
    
}
div.blanco{
    position: absolute;
    background-color: white;
    width: 200px;
    height: 300px;
    right: 300px;
    top: 50px;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    
}

div.celeste{

    position: absolute;
    background-color: lightblue;
    width: 200px;
    height: 300px;
    left: 300px;
    top: 50px;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    
}

div.texto{

    position: absolute;
    text-align: center;
    width: 300px;
    color: black;
    padding-top: 130px;
    padding-left: 150px;
    font-size: 250%;
}
div.contenedor {
position:absolute ;
background-color: red;
width: 500px;
height: 300px;
top: 87%;
margin-top: -50%;
left: 8%;

}

div.contenedor div {

    padding-top: 90px;
    font-size: 50px;
    text-align: center;
    color: white;
}

div.circulo1 {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 6px solid red;
    border-radius: 50%;
    background: beige;
    margin-left: 5px;
    bottom: 9px;

}

div.circulo2{

    width: 100px;
    height: 100px;
    position: absolute;
    border: 6px solid red;
    border-radius: 50%;
    background: beige;
    margin-left: 5px;
    bottom: 300px;
}

div.circulo3{
    width: 100px;
    height: 100px;
    position: absolute;
    border: 6px solid red;
    border-radius: 50%;
    background: beige;
    bottom: 300px;
    left: 500px;

}
div.circulo4{

    width: 100px;
    height: 100px;
    position: absolute;
    border: 6px solid red;
    border-radius: 50%;
    background: beige;
    bottom: 10px;
    left: 500px;
}

div.titulo h1{
    color: navy;
    font-size: 30px;
    font-style: italic;
    }    

div.separador {
    height: 30px;
}

div.texto p{

    color: darkblue;
    font-size: 15px;

}

i.mi_icono {
    font-size: 90px;
    text-shadow: 2px 2px;
    color: orange;
    cursor: pointer;
}

i.mi_icono2 {

    font-size: 90px;
    cursor: pointer;
}

div.clicable:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    border:4px dashed blue;
    
    

}
a.enlace {

    text-decoration: none;
    color: brown;


}
a.enlace:hover{

    border-bottom: red 2px solid;


}

a.enlace:active {

    background-color: brown;
    color: white;
    border:none;

}
div.derecha {

    position: relative;
    left: 500px;
    bottom: 50px;
}
fieldset.cuadrado{

    background-color: beige;
    margin: 2px;
}
div.cpostal {

    position: relative;
    left: 500px;
    bottom:48px; 
    
}
div.vehicl {

    position: relative;
    left: 170px;
    bottom: 18px;
}

div.datos {
position: relative;
left: 30px;
top: 16px;

}
div.edad {

    position:relative;
    left: 163px;
}
    
#datos input {

    position: relative;

}


 




