<style>
table.mitabla {
    background-color: beige;

}
table.mitabla2{

    background-color: red;
    margin: 20px;
}
table.total{

    background-color: green;

}
</style>
<body>
    
    <table class="mitabla">
    
    <thead>
        <tr>
            <th>Concepto</th>
            <th>Cantidad Base imponible</th>
            <th>I.V.A</th>
        </tr> 

    </thead>


<table class="mitabla2"> 


        <tr> 
            <td>Servicio de Soporte tecnico y reparacion de sistemas informaticos</td>
            <td>2 x 40,00€      80,00€</td>
            <td>21% (16,80€)</td>
        </tr>
</table>

   
<table class="total">
    <thead>
        <tr>
            <th> Total base imponible:</th>
            <td>80,00€</td>
        </tr>

        <tr>        
            <th>I.V.A 21%:</th>
            <td>16,80€</td>
        </tr>
            
        <tr>
            <th>Retencion 15%:</th>
            <td>-12,00€</td>
        </tr>

        <tr>
            <th>TOTAL</th>
            <td>84,80€</td>
        </tr>
    </thead>
</table>
</body>