


    div.wallaconteneddos {

      display: inline-block;
      position: relative;
      margin-left: 280px;
      bottom: 530px;
      left: 15px;


   }

   div.wallacontenedtres{
    display: inline-block;
    position: relative; 
    bottom: 530px;
    left: 25px;
   }

   div.wallacaja {
      
      position: relative;
      top: 37px;
      left: 20px;
   
      
   }
    div.walla {
       width: 250px;
       height: 350px;
       background-color:whitesmoke;
       border-radius: 20px;
       padding: 4px 5px 4px;
       
    }
    div.walla h1 {
       color:red;
       font-size: 25px;
    }
    div.walla img {
       width: 100%;
       border-radius: 10px;
       height: 100%;
   }

   div.precio {
         width: 350px;
         height: 20px;
         margin-bottom: 60px; 
         font-size: 15px;

   }

   div.descrip {
      width: 250px;
      height: 8px;
      margin-top: -35px;
      font-size: 15px;
   }

   div.contenido {

      width: 250px;
      height: 210px;
      background-color: whitesmoke;
      margin-top: -20px;
      border-radius: 4px 4px 1px;   
      margin-left: 8px;
   }